.User {
    a {
        text-decoration: none;
    }

    i {
        color: $font_blue;
        font-size: 14px;
        margin-right: 8px;
        vertical-align: bottom;
    }

    .User-wrapper {
        .User-avatar {
            background-image: url("https://avatars.githubusercontent.com/u/1?v=3");
            background-size: 100%;
            background-repeat: no-repeat;
            border-radius: 40px;
            display: block;
            height: 80px;
            margin: 0 auto;
            width: 80px;
        }
        .User-details {
            display: block;
            margin: 0 auto 30px;
            text-align: center;
            vertical-align: top;

            .User-name {
                color: #333333;
                display: block;
                font-size: 32px;
                font-weight: 600;
                margin: 0;
            }
            .User-login {
                color: $font_blue;
                display: inline-block;
                font-size: 14px;
                margin: 0;
            }
            .User-joined-date {
                color: #999999;
                font-size: 12px;
                font-weight: 300;
                margin-bottom: 30px;
            }
            .User-stat {
                background: #ffffff;
                border-top: 1px solid #eee;
                border-bottom: 1px solid #eee;
                display: inline-block;
                padding: 17px 0;
                text-align: center;
                width: 25%;
                .User-stat-title {
                    color: #888;
                    display: block;
                    font-size: 10px;
                    font-weight: 300;
                    margin-bottom: 4px;
                    text-transform: uppercase;
                }
                .User-stat-value {                
                    display: inline-block;
                    text-align: center;
                    font-size: 18px;
                }
            }
        }
    }
}